{% block content %} 
<div class="row">
<!--column 1-->
	<article class="medium-9 columns main">
	<!--Article-->
		<div class="row ab">
			<div class="medium-6 columns">
			<h3>Lorem ipsum dolor sit amet</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, volutpat in metus vitae, pretium scelerisque massa. 
			Integer ut est urna. Pellentesque sed sem nec diam eleifend viverra eget eget ipsum.</p>
			<p class="hd">Lorem ipsum dolor sit amet</p>
			<p>Mauris sagittis maximus turpis 
			facilisis accumsan. Curabitur sit amet ultricies lectus. Curabitur sagittis varius urna. Proin massa leo, mollis quis quam fermentum, iaculis placerat nisi. </p>
			</div>
			<img  class="medium-6 columns tm" src="assets/img/map.jpg">
		</div>
	<!--Images-->
		<div class="row tm">
			<ul class="small-block-grid-5"> 
				<li><img src="http://placehold.it/150x112"></li>
				<li><img src="http://placehold.it/150x112"></li>
				<li><img src="http://placehold.it/150x112"></li>
				<li><img src="http://placehold.it/150x112"></li>
				<li><img src="http://placehold.it/150x112"></li>
				 
			</ul>
		</div>
		
	</article>
	
	
<!--column 2-->
	<aside class="medium-3 columns side">
		<!--Side bar 1-->
		<div class="side">
			<h3>Sider header</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<!--Side bar 2-->
		<div class="side tm">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>			
		 
		</div>
		<!--Side Image-->
		
		<div class="text-center tm">
		 
			<img src="http://placehold.it/350x200">
		 
		</div>
		
		
	</aside>
	
</div>
{% endblock %}