<footer >

	<div class="row">
	<div class="small-5 small-centered columns">
		<p>Integer ut est urna. Pellentesque sed sem nec diam</p>
		<p>Integer ut est urna. Pellentesque sed sem nec diam</p>
	</div>
	</div>
	
</footer>