{% block content %}
<div class="row">
	<div class="small-12 columns"><h2>Gallery</h2></div>
	
</div>
<div class="row">
	<div class="small-12 columns">
	<ul class="clearing-thumbs small-block-grid-4" >
  		<li><a href="assets/img/gal2.jpg"><img src="assets/img/gal2_th.jpg"></a></li>
  		<li><a href="assets/img/gal3.png"><img src="assets/img/gal3_th.jpg"></a></li>
 		<li><a href="assets/img/gal4.jpg"><img src="assets/img/gal4_th.jpg"></a></li>
 		<li><a href="assets/img/gal5.jpg"><img src="assets/img/gal5_th.jpg"></a></li>

	</ul>
	</div>
</div>
{% endblock %}
